body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.dialog-box {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.dialog-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('https://ningchenweb.oss-cn-beijing.aliyuncs.com/DALL%C2%B7E%202023-12-11%2013.39.56%20-%20A%20breathtaking%20landscape%20with%20a%20vast%20sky%2C%20featuring%20an%20eagle%20soaring%20high%20above%20a%20picturesque%20mountain%20range.%20The%20eagle%20symbolizes%20freedom%20and%20the%20spi.png'); /* 替换为你的头像图片路径 */
    background-size: cover;
}

p {
    font-size: 16px;
    margin: 0;
}

.footer {
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    p {
        font-size: 14px;
    }
}
