body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
}

.chat-message {
  display: flex;
  align-items: flex-start; /* 确保头像可以向上移动 */
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  background-image: url("https://i.imgs.ovh/2023/12/01/wLBhp.md.jpeg"); /* 替换为实际的头像图片路径 */
  background-size: cover;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative; /* 设置相对定位 */
  top: 10%; /* 向下移动 50% 的自身高度 */
  transform: translateY(10%); /* 向上移动 50% 的自身高度 */
}

.message-content {
  display: flex;
  flex-direction: column;
  width: 100%; /* 确保消息内容占据剩余空间 */
}

.nickname {
  font-weight: lighter; /* 设置为细体 */
  color: gray; /* 字体颜色设置为灰色 */
  margin-bottom: 3px;
  font-size: 13px;
  /* 字体大小保持不变，如果需要调整，可以在这里设置 font-size */
}

.message {
  font-size: 16px;
  background-color: rgba(233, 226, 236, 0.8);
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  position: relative; /* 为伪元素定位做准备 */
  /* ...其他样式保持不变... */
}

.message::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px; /* 小三角形的位置，根据需要调整 */
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(224, 210, 210, 0.8) transparent transparent;
  transform: translateY(-50%);
}

#nextButton {
  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

#nextButton:hover {
  background-color: #45a049;
}
