body,
html {
  margin: 0;
  padding: 0;
  width: 100%; /* 确保 body 和 html 充满整个屏幕宽度 */
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.chat-container {
  height: 100vh;
  width: 70%; /* 默认宽度 */
  max-width: 1000px; /* 最大宽度 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
}

.chat-message {
  display: flex;
  align-items: flex-start; /* 确保头像可以向上移动 */
  margin-bottom: 50px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ddd;
  background-image: url("https://i.imgs.ovh/2023/12/01/wLBhp.md.jpeg"); /* 替换为实际的头像图片路径 */
  background-size: cover;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative; /* 设置相对定位 */
  top: 10%; /* 向下移动 50% 的自身高度 */
  transform: translateY(10%); /* 向上移动 50% 的自身高度 */
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 使子元素（昵称和消息）对齐到开始位置 */
}

.nickname {
  font-weight: lighter; /* 设置为细体 */
  color: gray; /* 字体颜色设置为灰色 */
  margin-bottom: 3px;
  font-size: 12px;
  /* 字体大小保持不变，如果需要调整，可以在这里设置 font-size */
}

.message {
  color: #383838;
  display: inline-block;
  background-color: rgba(233, 226, 236, 0.8);
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 13%;
  letter-spacing: 0.5px; /* 增加文本间距 */
  line-height: 1.8; /* 增加行间距，1.5 是常用的行间距值 */
  word-wrap: break-word;
  position: relative; /* 为伪元素定位做准备 */
  /* ...其他样式保持不变... */
}

.message::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px; /* 小三角形的位置，根据需要调整 */
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(224, 210, 210, 0.8) transparent transparent;
  transform: translateY(-50%);
}

#nextButton {
  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

#nextButton:hover {
  background-color: #45a049;
}
/* 媒体查询 */
@media (max-width: 800px) {
  .chat-container {
    width: 100%; /* 确保聊天容器占据整个屏幕宽度 */
        height: 100vh;
    margin-left: 0; /* 左边距设置为0 */
    margin-right: 0; /* 右边距也设置为0 */
  }

  #nextButton {
    width: 100%; /* 按钮填充整个聊天容器宽度 */
  }

  /* 根据需要添加其他移动设备特定的样式 */
}
